<html>

<head>
<title>{{title}}</title>
<link rel="stylesheet" href="/css/app.css" />
</head>

<body>

{{ content }}

<p>
<a href="/">Home</a> -<a href="/search">Search</a>
</p>

<footer>
<p>All content sourced from <a href="https://gijoe.fandom.com/wiki/Joepedia_-_The_G.I._Joe_Wiki">Joepedia</a>.</p>
</footer>

</body>
</html>
